asgiref
autopep8
backports.zoneinfo
boto3
botocore
certifi
cffi
charset-normalizer
click
colorama
coreapi
coreschema
cryptography
distlib
Django
django-cors-headers
django-countries
django-extensions
django-extra-keywords
django-gunicorn
django-rest-swagger
django-storages
djangorestframework
djangorestframework-jwt
djangorestframework-simplejwt
dnspython
drf-yasg
filelock
filetype
gunicorn
h11
idna
inflection
itypes
Jinja2
jmespath
jsonfield
MarkupSafe
mysql-connector-python
numpy
openapi-codec
packaging
pandas
Pillow
platformdirs
protobuf
psycopg2
psycopg2-binary
pyasn1
pycodestyle
pycparser
pycryptodome
pycryptodomex
PyJWT
pymongo
pyparsing
python-dateutil
python-dotenv
pytz
requests
rsa
ruamel.yaml
ruamel.yaml.clib
s3transfer
simplejson
six
sniffio
sqlparse
tomli
typing-extensions
tzdata
uritemplate
urllib3
virtualenv
